# Data manipulation
numpy==1.26.1; python_version >= "3.10"
numpy==1.23.2; python_version < "3.10"
pandas==2.1.1; python_version >= "3.10"
pandas==1.4.4; python_version < "3.10"

# Models
tensorflow==2.14.0; python_version >= "3.10"
tensorflow==2.13.1; python_version < "3.10"
torch==2.1.0
transformers==4.34.0 
sentencepiece==0.1.99
datasets==2.14.5
scikit_learn==1.3.1
lightgbm==4.1.0

# NLP
words-n-fun==1.6.0
nltk==3.8.1  # Already in wnf

# Plots
matplotlib==3.8.0; python_version >= "3.10"
matplotlib==3.7.3; python_version < "3.10"
seaborn==0.13.0

# Others
dill==0.3.7
protobuf==4.24.4
mlflow==2.7.1
sweetviz==2.2.1

# Optionnals - useless in prod.
pydot==1.4.2  # Needed to plot models architecture
lime==0.2.0.1  # Needed to get a model explanation

# Optionnals - streamlit POC
streamlit==1.27.2
altair==5.1.2

# Optionnals - code quality & cie
mypy==1.6.0
types-setuptools==68.2.0.0
flake8==6.1.0
black==23.9.1
isort==5.12.0
nose==1.3.7
nose-exclude==0.5.0
coverage==7.3.2

# Optionnals - DVC{% if dvc_config_ok is false %}
# WARNING : you didn't set up a DVC config file when you generated the project. Hence this is useless and can be removed{% endif %}
dvc==3.26.1
{% if additional_pip_packages is not none %}
{{additional_pip_packages}}
{% endif %}
