# Data manipulation
numpy==1.23.2
pandas==1.4.4

# Models
tensorflow==2.6.2
scikit_learn==1.1.2
lightgbm==3.3.2

# Torch
# If GPU with cuda 11.1 : replace +cpu by +cu111
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu
transformers==4.3.2
pytorch_lightning==1.1.8

# NLP
words-n-fun==1.5.1
nltk==3.7  # Already in wnf

# Plots
matplotlib==3.5.3
seaborn==0.12.0

# Others
dill==0.3.5.1
# https://developers.google.com/protocol-buffers/docs/news/2022-05-06#python-updates
protobuf==3.20.1
mlflow==1.28.0

# Optionnals - useless in prod.
pydot==1.4.1  # Needed to plot models architecture
lime==0.2.0.1  # Needed to get a model explanation

# Optionnals - streamlit POC
streamlit==1.12.2
altair==4.2.0

# Optionnals - code quality & cie
mypy==0.971
types-setuptools==65.3.0
flake8==5.0.4
black==22.8.0
isort==5.10.1
nose==1.3.7
nose-exclude==0.5.0
coverage==6.4.4

# Optionnals - DVC{% if dvc_config_ok is false %}
# WARNING : you didn't set up a DVC config file when you generated the project. Hence this is useless and can be removed{% endif %}
dvc==1.10.1
{% if additional_pip_packages is not none %}
{{additional_pip_packages}}
{% endif %}
