# Data manipulation
numpy==1.21.6; python_version < "3.8"
numpy==1.23.2; python_version >= "3.8"
pandas==1.3.5; python_version < "3.8"
pandas==1.4.4; python_version >= "3.8"

# Models
tensorflow==2.10.0
scikit_learn==1.0.2; python_version < "3.8"
scikit_learn==1.1.2; python_version >= "3.8"
lightgbm==3.3.2
xgboost==1.6.2

# Plots
matplotlib==3.5.3
seaborn==0.12.0
yellowbrick==1.5

# Others
dill==0.3.5.1
# https://developers.google.com/protocol-buffers/docs/news/2022-05-06#python-updates
protobuf==3.19.4  # Latest available version for tensorflow 2.10
mlflow==1.28.0
sweetviz==2.1.4
fairlearn==0.7.0
fairlens==0.1.0

# Optionnals - useless in prod.
pydot==1.4.1  # Needed to plot models architecture
shap==0.41.0  # Needed to get a model explanation
ipython==7.34.0; python_version < "3.8"  # Needed by shap to display js figure
ipython==8.6.0; python_version >= "3.8"  # Needed by shap to display js figure

# Optionnals - streamlit POC
streamlit==1.12.2
altair==4.2.0

# Optionnals - code quality & cie
mypy==0.971
types-setuptools==65.3.0
flake8==5.0.4
black==22.8.0
isort==5.10.1
nose==1.3.7
nose-exclude==0.5.0
coverage==6.4.4

# Optionnals - DVC{% if dvc_config_ok is false %}
# WARNING : you didn't set up a DVC config file when you generated the project. Hence this is useless and can be removed{% endif %}
dvc==1.10.1
pathspec==0.9.0  # TMP FIX. Issue with DVC and pathspec https://github.com/iterative/dvc/issues/8217
{% if additional_pip_packages is not none %}
{{additional_pip_packages}}
{% endif %}
